.camera-flash:hover {
	opacity: 0;
	-webkit-animation-duration: 1s;
			animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-name: flash;
			animation-name: flash;
}