@import "bourbon";
$w: 320px;

@mixin cardsize() {
	height: 480px;
	width: $w;
}

.container {
	position: relative;
	width: $w;
	margin: 0;
	padding: 0;
	@include perspective(1000);

	&:hover .card {
		@include transform(rotateY(180deg));
	}

	.card {
		position: relative;
		@include cardsize();
		@include transform-style(preserve-3d);
		@include transition(0.5s);
	}

	.face {
		position: absolute;
		top: 0;
		left: 0;
		@include cardsize();
		text-align: center;
		@include backface-visibility(hidden);
	}

	.front {
		background: url(/assets/img/back-card.png);
		background-repeat: no-repeat;
		background-size: cover;
		z-index: 10;
	}

	.back {
		background: url(/assets/img/front-card.png);
		background-repeat: no-repeat;
		background-size: cover;
		@include transform(rotateY(180deg));
	}
}
