@import "bourbon";

.text-container {
	position: relative;
	font-size: 100px;
	
	.rotating-text {
		position: absolute;
		left: 200px;
		@include transform-origin(center top);
		@include animation (rotatehowdy 4s infinite);
	}
}
