@import "bourbon";

.rotating-box {
	width: 150px;
	height: 150px;
	background-color: green;
	@include transition (all 2s linear);
	
	&:hover {
		background-color: yellow;
		margin-left: 400px;
		@include transform(rotate(360deg));
	}
}