.rotating-box {
	width: 150px;
	height: 150px;
	background-color: green;
	-webkit-transition: all 2s linear;
			transition: all 2s linear;
	
	&:hover {
		background-color: yellow;
		margin-left: 400px;
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}