@import "bourbon";
@import "variables";
@import "spinnermypink";


body {
	font: 100% $font-stack;
	color: $primary-color;
	margin: 0;
	padding: 100px;
}

.csscontainer {
	min-height: 300px;
	background-color: #E2E2E2;
	border-bottom: 1px dashed $mypink;
	padding: 50px;
}

/*========================
 Flash animation used multiple times
 =========================*/
	@include keyframes(flash) {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}

/*========================
 Spin animation
 =========================*/

@include keyframes(spin) {
	0% {
		@include transform(rotate(0deg));
	}
	100% {
		@include transform(rotate(360deg));
	}
}

/*==================
	Bounce
====================

@include keyframes(bounce) {
	0%, 20%, 50%, 80%, 100% {
		@include transform(translateY(0));
	}

	40% {
		@include transform(translateY(-60px));
	}

	60% {
		@include transform(translateY(-30px));
	}
}


/* ========================
	Rotate howdy animation
	======================= */
@include keyframes(rotatehowdy) {
	25% {
		@include transform(rotate(30deg));
	}
	40% {
		@include transform(rotate(-30deg));
	}
	60% {
		@include transform(rotate(15deg));
	}
	80% {
		@include transform(rotate(-15deg));
	}

	100% {
		@include transform(rotate(0deg));
	}
}

/*========================
scaling animation
==========================

@include keyframes(slidingbox) {
	0%, 100% {
		right: 100%;
	}
	50% {
		right: 0;
	}
}

@include keyframes(scaling) {
	0%, 100% {
		@include transform(scale(1));
	}
  @include transform(rotateX(1.5) rotateY(246.37185190625397deg) rotateZ(179.9087476710785deg) scaleX(2) translateX(11px) );


	30% {
		@include transform(scale(1.5, 0.75));
//			transform: scaleX(1.5) scaleY(0.75);
	}

	40% {
		@include transform(scale(0.75, 1.25));
	}

	60% {
	-webkit-transform: scaleX(1.15) scaleY(0.85);
			transform: scaleX(1.15) scaleY(0.85);
	}
}

/*============================
	loading animation
==============================

@-webkit-keyframes loadingprogress {
	0%, 10% { 
		width: 0; 
	}

	25%, 30% {
		width: 25%;
	}
	60%, 80% {
		width: 50%
	}

	100% { 
		width: 100%; 
	}
}

/*========================
george's bulging eyes & laughing mouth
==========================
@-webkit-keyframes googlyeyes {

	0%, 100% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}

	50% {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
	}
}

@-webkit-keyframes georgelol {

	0%, 100% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}

	20% {
	-webkit-transform: scaleY(0.30);
			transform: scaleY(0.30);
	}

	30% {
	-webkit-transform: scaleY(0.75);
			transform: scaleY(0.75);
	}

	60% {
	-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
	}

	80% {
	-webkit-transform: scaleY(0.30);
			transform: scaleY(0.30);
	}
}
/*=====================
animation on svg
======================

@-webkit-keyframes dash {
	to {
	stroke-dashoffset: 1000;
	}
}
/*===============
megaman animation
=================
@-webkit-keyframes play {
	from {
		background-position: 0px; 
	}
	to {
		background-position: -400px;
	}
}

@keyframes play {
	from {
		background-position: 0px; 
	}
	to {
		background-position: -400px;
	}
}
/*===================
start of wonky bullshit
======================*/
