$font-stack: Futura, Arial, sans-serif;
$primary-color: #333;
$csscontainer: 300px;
/* ===========================
	Created the mypink for an instance 
	of a rebrand where primary color changes. 
	Not sure if this is the point of creating variables.
	==========================*/
$mypink: #FF0088;

body {
	font: 100% $font-stack;
	color: $primary-color;
	margin: 0;
	padding: 100px;
}

.csscontainer {
	min-height: $csscontainer;
	background-color: #E2E2E2;
	border-bottom: 1px dashed $mypink;
	padding: 50px;
}

/*========================
 Flash animation used multiple times
 =========================*/
 @-webkit-keyframes flash {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*========================
 Spin animation
 =========================*/

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
	}
}

@keyframes spin {
 	0% {
		-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
	}
 	100% {
		-webkit-transform: rotate(360deg);
				transform: rotate(360deg);

	}
}


/*==================
	Bounce
====================*/


@-webkit-keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	}

	40% {
	-webkit-transform: translateY(-60px);
			transform: translateY(-60px);
	}

	60% {
	-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	-webkit-transform: translateY(0);
			transform: translateY(0);
	}

	40% {
	-webkit-transform: translateY(-60px);
			transform: translateY(-60px);
	}

	60% {
	-webkit-transform: translateY(-30px);
			transform: translateY(-30px);
	}
}

/* ========================
	Rotate howdy animation
	=======================*/

@-webkit-keyframes rotatehowdy {
	25% {
	-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
	}

	50% {
	-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
	}

	75% {
	-webkit-transform: rotate(5deg);
			transform: rotate(5deg);
	}

	85% {
	-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
	}

	100% {
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
}

@keyframes rotatehowdy {

	25% {
	-webkit-transform: rotate(15deg);
			transform: rotate(15deg);
	}

	50% {
	-webkit-transform: rotate(-15deg);
			transform: rotate(-15deg);
	}

	75% {
	-webkit-transform: rotate(5deg);
			transform: rotate(5deg);
	}

	85% {
	-webkit-transform: rotate(-5deg);
			transform: rotate(-5deg);
	}

	100% {
	-webkit-transform: rotate(0deg);
			transform: rotate(0deg);
	}
}

.text-container {
	position: relative;
	font-size: 100px;
}

.rotating-text {
	position: absolute;
	left: 200px;
	-webkit-transform-origin: top center;
	 		transform-origin: top center;
	-webkit-animation-name: rotatehowdy;
			animation-name: rotatehowdy;
	-webkit-animation-duration: 5s;
			animation-duration: 5s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}



.bouncingball {
	background: #c146a1;
	border-radius: 50%;
	box-shadow: inset 0 -5px 0 4px #a80077;
	height: 100px;
	margin-top: 100px;
	width: 100px;
	-webkit-animation-name: bounce;
			animation-name: bounce;
	-webkit-animation-duration: 2s;
			animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
}

.button-2 {
	background: green;
	color: #fff;
	cursor: pointer;
	font-size: 30px;
	height: 200px;
	width: 400px;
	margin: 0;
	padding: 0;
	overflow: hidden;

	.translucent-button {
		border: 3px solid #fff;
		border-radius: 50px;
		margin: 40px 50px 0 50px;
		padding: 25px 50px;
		text-align: center;
		position: relative;

		&:hover p {
			background: rgba(101, 105, 111, 0.73);
		}

		&:hover i {
	 		right: 25px;
	 		opacity: 1;
		}

		 i {
			position: absolute;
			opacity: 0;
			right: 50px;
			transition: all .4s ease;
		}
	}

}






@-webkit-keyframes loadingprogress {
	0%, 10% { 
		width: 0; 
	}

	25%, 30% {
		width: 25%;
	}
	60%, 80% {
		width: 50%
	}

	100% { 
		width: 100%; 
	}
}




.loading { 
	background: #666;
	border-radius: 30px;
	height: 20px;
	padding: 5px 5px 8px;
	position: relative;

	div {
		background-color: rgb(43,194,83);
		border-radius: 8px;
		background-image: -webkit-gradient(linear, left bottom,left top, color-stop(0, rgb(43,194,83)),color-stop(1, rgb(84,240,84)));
		box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
					inset 0 -2px 6px rgba(0, 0, 0, 0.4);
		display: block;
		height: 110%;
		position: relative;
		overflow: hidden;
		width: 0;
		-webkit-animation-name: loadingprogress;
		-webkit-animation-delay: 1s;
		-webkit-animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
	}
}

.relativebox {
	position: relative;
	height: 300px;
	overflow: hidden;

	.yellow-circle {
		width: 200px;
		height: 200px;
		background: rgba(255, 235, 0, 0.7);
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 25px;
	}

	.green-circle {
		width: 200px;
		height: 200px;
		background: rgba(0, 255, 0, 0.7);
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 300px;
	}

	.red-circle {
		width: 200px;
		height: 200px;
		background: rgba(255, 0, 0, 0.7);
		border-radius: 50%;
		position: absolute;
		top: 0;
		right: 450px;
	}

	.blue-box {
		width:200px;
		height:200px;
		background:rgba(0,0,255,0.5);
		position:absolute;
		top: 0;
		right: 0;
		-webkit-animation: slidingbox 5s infinite;
	}
}


@-webkit-keyframes slidingbox {
	0%, 100% {
	right: 100%;
	}
	50% {
	right: 0;
	}
}

/* scaling  */
@-webkit-keyframes scaling {
	0%, 100% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}

	30% {
	-webkit-transform: scaleX (1.5) scaleY(0.75);
			transform: scaleX(1.5) scaleY(0.75);
	}

	40% {
	-webkit-transform: scaleX(0.75) scaleY(1.25);
			transform: scaleX(0.75) scaleY(1.25);
	}

	60% {
	-webkit-transform: scaleX(1.15) scaleY(0.85);
			transform: scaleX(1.15) scaleY(0.85);
	}
}


.scaling-box {
	background: #f08;
	color: #fff;
	font-size: 36px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	width: 100%;
	-webkit-animation-name: scaling;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;

}

.george {
	background: url(./img/george.png);
	background-repeat: no-repeat;
	background-size: cover;
	width: 325px;
	height: 358px;
	position: relative;
}

.eye {
	background: #000;
	border: 5px solid #fff;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	position: absolute;
	-webkit-animation-name: googlyeyes;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes googlyeyes {

	0%, 100% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}

	50% {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
	}
}

.left {
	left: 100px;
	top: 65px;
}
.right {
	left: 140px;
	top: 65px;
}

.george-mouth {
	background: red;
	border: 1px solid #000;
	border-radius: 1px 1px 50px 50px ;
	top: 120px;
	width: 40px;
	height: 30px;
	left: 120px;
	position: absolute;
	-webkit-animation-name: georgelol;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
	-webkit-transform-origin: top center;
}

@-webkit-keyframes georgelol {

	0%, 100% {
	-webkit-transform: scale(1);
			transform: scale(1);
	}

	20% {
	-webkit-transform: scaleY(0.30);
			transform: scaleY(0.30);
	}

	30% {
	-webkit-transform: scaleY(0.75);
			transform: scaleY(0.75);
	}

	60% {
	-webkit-transform: scaleY(0.5);
			transform: scaleY(0.5);
	}

	80% {
	-webkit-transform: scaleY(0.30);
			transform: scaleY(0.30);
	}
}

.waldocrowd {
	background: url(./img/waldocrowd.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	cursor: pointer;
	height: 375px;
	margin-bottom: 50px;
	width: 500px;
	overflow: hidden;
	position: relative;
}

.waldocrowd img {
	position: absolute;
	bottom: -100%;
	width: 100%;
	transition: bottom 0.5s ease-in;
}

.waldocrowd:hover img {
	bottom: 0;
}

/* text field */
input, 
textarea {
	width: 280px;
	-webkit-transition: all 1s ease;  
	transition: all 1s ease;
}  

input:focus, 
textarea:focus {
	width: 340px;
	outline: none;
	border-color: #F08;
	box-shadow: 0 0 10px #f08;
}

/*svg george*/
.georgesvg {
	background: url(./img/george.png);
	background-size: 100% 100%;
	width: 432px;
}

.georgesvg svg {
	background: rgba(255, 255, 255, 0.8);
}

.svgpath {
	stroke: #f08; 
	fill: rgba(0, 224, 255, 0.14); 
	stroke-width: 10;
	stroke-dasharray: 100;
	-webkit-animation: dash 5s linear;
	-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes dash {
	to {
	stroke-dashoffset: 1000;
	}
}

.hor-zebra {
	border-collapse: collapse;
	font-size: 12px;
	margin: 20px;
	-webkit-perspective: 1000;
	text-align: left;
	width: 80%;
}

.hor-zebra th {
	background: #7DA862;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	padding: 10px 8px;
}

.hor-zebra:hover tr {
	color: #333;
	opacity: 0.25;
	-webkit-transition: all .3s ease;  
			transition: all .3s ease;
}

.hor-zebra td {
	padding: 10px;
}

.hor-zebra tr:hover {
	background: #cee7be;
	opacity: 1;
	-webkit-transform: scale(1.1);
			transform: scale(1.1);

}
.megaman {
    width: 40px;
    height: 40px;
    background-image: url(./img/megaman.png);
    
    -webkit-animation: play .8s steps(10) infinite;
            animation: play .8s steps(10) infinite;
}

@-webkit-keyframes play {
	from {
		background-position: 0px; 
	}
	to {
		background-position: -400px;
	}
}

@keyframes play {
	from {
		background-position: 0px; 
	}
	to {
		background-position: -400px;
	}
}

.highlight span {
	-webkit-transition: background-color 1s ease-in;  
			transition: background-color 1s ease-in;
}

.highlight:hover span {
	background-color: yellow;
	color: #000;
}

.highlight {
	-webkit-transition: color .5s linear;  
			transition: color .5s linear;
}

.highlight:hover {
	color: #999;
}

.wave-container {
	height: 426px;
	margin-bottom: 80px;
	position: relative;
	width: 820px;
}

.wave-container img {
	position: absolute;
	top: 0;
	left: 0;
}

.wave-container .waves {
	opacity: 0;
	-webkit-transition: opacity 1s ease;  
			transition: opacity 1s ease;
}

.wave-container:hover .waves {
	opacity: 1;
}


.cardfan {
	position: relative;
	margin-bottom: 400px;
}

.card-deck {
	background: url(./img/back-card.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 240px;
	width: 160px;
	position: absolute;
	top: 0;
	-webkit-transition: all .5s ease;
}

.cardfan:hover .ace {
	-webkit-transform: rotate(30deg) translate(30px, 30px);
	transform: rotate(30deg) translate(30px, 30px);
} 
.cardfan:hover .king {
	-webkit-transform: rotate(15deg) translate(15px, 15px);
	transform: rotate(15deg) translate(15px, 15px);
} 

.cardfan:hover .jack {
	-webkit-transform: rotate(-15deg) translate(-15px, -15px);
	transform: rotate(-15deg) translate(-15px, -15px);
} 

.tooltip-space {
	margin-bottom: 100px;
}

.tooltip {
	display: inline;
	position: relative;
}

.tooltip:hover:after {
	background: rgba(255, 0, 136,.9);
	border-radius: 5px;
	bottom: 26px;
	color: #fff;
	content: attr(title); /*oh snap! title attribute of the link*/
	left: 30%;
	padding: 15px 15px;
	position: absolute;
	text-align: center;
	z-index: 5;
	width: 250px;
	-webkit-animation-duration: .5s;
	        animation-duration: .5s;
	-webkit-animation-name: flash;
	        animation-name: flash;

}
.tooltip:hover:before {
	border: solid;
	border-color: #F08 transparent;
	border-width: 6px 6px 0 6px;
	bottom: 20px;
	content: "";
	left: 50%;
	position: absolute;
	z-index: 6;
	-webkit-animation-duration: .5s;
	        animation-duration: .5s;
	-webkit-animation-name: flash;
	        animation-name: flash;
}

.filterimage {
	width: 820px;
	-webkit-transition: all .3s ease-in-out;
}

.filterimage:hover {
	-webkit-filter: contrast(4) invert(.8);
			filter: contrast(4) invert(.8);
}

.fold { 
	margin: 0;
	padding: 0;
	background-color: #fff;
	position: relative;
	width: 820px;

}


.triangle {
	height: 0;
	width: 0;
	position: absolute;
	top: 0;
	right: 0;
	border-top: 70px solid #fff;
	border-right: 70px solid #fff;
	border-left: 70px solid #f08;
	border-bottom: 70px solid #f08;
	-webkit-transition: all .3s ease;
}
.fold:hover .triangle { 
	border-top: 0px solid #fff;
	border-right: 0px solid #fff;
	border-left: 0px solid #f08;
	border-bottom: 0px solid #f08;
}
.caption {
	background-color: #666;
	color: #fff;
	margin: 0;
	padding: 20px;
	height: 420px;
	width: 780px;
	position: relative;
	overflow: hidden;
	box-shadow: 0 1px 3px #050B26;
}
.caption img {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 1s ease-in-out;
}

.caption:hover img {
	-webkit-transform: rotate(90deg) translate(100%, 100%);
			transform: rotate(90deg) translate(100%, 100%);
}
.imagecontainer {
	height: 990px;
	width: 325px;
	margin: 100px 0 0 0;
	padding: 0;
	position: relative;
	-webkit-perspective: 1000;
			perspective: 1000;
}

.perspective {
	height: 990px;
	position: relative;
	width: 325px;
	-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;
}

.zach {
	background: url(./img/zach.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 330px;
	width: 325px;
	-webkit-transform: rotateY(45deg);
			transform: rotateY(45deg);
	-webkit-transition: 0.5s;
			transition: 0.5s;
}

.surferdude {
	background: url(./img/surfer-dude.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 330px;
	width: 325px;
	-webkit-transform: rotateY(45deg);
			transform: rotateY(45deg);
	-webkit-transition: 0.5s;
			transition: 0.5s;
}

.beerflight {
	background: url(./img/flight.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 330px;
	width: 325px;
	-webkit-transform: rotateY(45deg);
			transform: rotateY(45deg);
	-webkit-transition: 0.5s;
			transition: 0.5s;
}

.zach:hover {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

.surferdude:hover {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

.beerflight:hover {
	-webkit-transform: rotateY(0deg);
			transform: rotateY(0deg);
}

.room {
	margin-bottom: 400px;
}