$font-stack: Futura, Arial, sans-serif;
$primary-color: #333;
$csscontainer: 300px;
/* ===========================
	Created the mypink for an instance 
	of a rebrand where primary color changes. 
	Not sure if this is the point of creating variables.
	==========================*/
$mypink: #FF0088;